<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<xmlns:sec/>

<body>
    <div th:fragment="menu">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/welcome}"
                                href="welcome.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/matematicas}" sec:authorize="hasAnyAuthority('Matemáticas')">
                                Matemáticas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/lengua}" sec:authorize="hasAnyAuthority('Lengua')">
                                Lengua
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/ingles}" sec:authorize="hasAnyAuthority('Inglés')">
                                Inglés
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/religion}" sec:authorize="hasAnyAuthority('Religión')">
                                Religión
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/fisica}" sec:authorize="hasAnyAuthority('Física')">
                                Física
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/asignaturas/quimica}" sec:authorize="hasAnyAuthority('Química')">
                                Química
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/logout}"><i class="bi bi-box-arrow-left" th:text="logout"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</body>

</html>